serviceName: api_gateway_service
grpc:
  coreServicePort: :5002
http:
  port: :5001
  development: true
  basePath: /v1
  v1Path: /v1
  debugHeaders: false
  httpClientDebug: false
  debugErrorsResponse: true
  ignoreLogUrls: [ "metrics" ]
probes:
  readinessPath: /ready
  livenessPath: /live
  port: :3001
  pprof: :6001
  prometheusPath: /metrics
  prometheusPort: :8001
  checkIntervalSeconds: 10
logger:
  level: debug
  devMode: false
  encoder: json
kafka:
  brokers: [ "localhost:9092" ]
  groupID: microservice_consumer
  initTopics: true
kafkaTopics:
  webhookExample:
    topicName: webhookExample
    partitions: 1
    replicationFactor: 1
redis:
  addr: "localhost:6379"
  password: ""
  db: 0
  poolSize: 300
otl:
  enable: true
  serviceName: api_gateway_service
  endpoint: "localhost:4317"