serviceName: graphql_service
resources:
  graphql_query: http://localhost:5010/graphql/query
  api_accounts: https://api.5systems.ru/accounts/v1
grpc:
  coreServicePort: :5001
http:
  port: :5010
  development: true
  graphqlPath: /graphql
  basePath: /api/v1
  productsPath: /api/v1/products
  debugHeaders: false
  httpClientDebug: false
  debugErrorsResponse: true
  ignoreLogUrls: ["metrics", "/graphql/query"]
probes:
  readinessPath: /ready
  livenessPath: /live
  port: :3001
  pprof: :6001
  prometheusPath: /metrics
  prometheusPort: :8021
  checkIntervalSeconds: 10
logger:
  level: debug
  devMode: false
  encoder: json
kafka:
  brokers: ["localhost:9092"]
  groupID: microservice_consumer
  initTopics: true
kafkaTopics:
  webhookExample:
    topicName: webhookExample
    partitions: 1
    replicationFactor: 1
redis:
  addr: "localhost:6379"
  password: ""
  db: 0
  poolSize: 300
otl:
  enable: true
  serviceName: graphql_service
  endpoint: "localhost:4317"